@model List<DotNet.Highcharts.Highcharts>

<div class="statisticsCharts">
    <div class="row">
        <div class="col-md-6">
            @(Model.ElementAt(0))
        </div>
        <div class="col-md-6">
            @(Model.ElementAt(1))
        </div>
    </div>
</div>
